@mixin transition {
  transition: all .2s;
  -moz-transition: all .2s ease; /* Firefox 4 */
  -webkit-transition: all .2s ease; /* Safari 和 Chrome */
  -o-transition: all .2s ease; /* Opera */
}
@mixin transform($parm) {
  transform: $parm;
  -ms-transform: $parm; /* IE 9 */
  -moz-transform: $parm; /* Firefox */
  -webkit-transform: $parm; /* Safari 和 Chrome */
  -o-transform: $parm; /* Opera */

}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Segoe UI", "Helvetica Neue", "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", 微软雅黑, sans-serif;
  font-size: 14px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}




#drag {
  position: absolute;
  z-index: 999999999999999999999999;
}
body, html {


  ::-ms-clear, ::-ms-reveal {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border: 0;
    /*border-color: #fff;*/
    background: #D1CFCE;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #D1CFCE;
  }

  min-width: 736px;
  height: 100%;
  overflow: hidden;
  font: normal 13px arial,Microsoft;
}


.container, .mid, .left, .right {

  position: relative;
  box-sizing: border-box;
  float: left;
  height: 100%;
  background: #f2f2f2;
}

header {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 5px 2px -2px rgba(160,160,160,.15);
  color: #000;
  background: #ffffff;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 72px;
}

.container {
  padding: 0 420px 0 310px;
  width: 100%;
  padding-top: 72px;
  margin-top: -72px;
  background-color: #FFFFFF;
  background-color: gray;

  .mid {
    padding: 0px 3px 3px 3px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 40px;

    .loading {
      background-image: url('../../resourse/7eaf1309008734e8f5821fc712c3e22d.gif');
      height: 50px;
      width: 50px;
      background-size: 50px 50px;
      position: absolute;
      left: 50%;
      margin-left: -25px;
      top: 50%;
      margin-top: -25px;
      z-index: 99999;
      display: none
    }

    #myGrid {
      font-size: 12px;
      width: 100%;
      height: 100%;
    }

    .filter {
      height: 40px;
      width: 100%;
      padding: 0;

      input {
        height: 100%;
        line-height: 30px;
        font-size: 14px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        font-weight: 400;
        background-image: url('../../resourse/f0f6e5ae4d1575d049d8b81d100d87c4.png');
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px dotted #e5e5e5;
        box-shadow: 0 5px 2px -2px rgba(160,160,160,.15);
      }
    }

    .filter_content {
      border-bottom: 1px solid #E0E0E0;
      overflow: hidden;
      height: 32px;
      position: relative;
      font-size: 0px;
      box-sizing: border-box;
      height: 32px;
      width: 100%;
      display: none;
      background-color: #fff;


      .slider {
        position: absolute;
        white-space: nowrap;
        width: auto;
        display: inline-block !important;
        display: inline;
        left: 0px;
        top: 0px;

        .item {
          margin-top: 3px;
          margin-left: 1px;
          padding-left: 10px;
          padding-right: 20px;
          min-width: 60px;
          text-align: center;
          height: 26px;
          font-size: 10px;
          line-height: 26px;
          display: inline-block !important;
          display: inline;
          vertical-align: top;
          background-color: #7FD3ED;
          color: #fff;
          border-radius: 2px;
          border-right: 1px solid #FFFFFF;
          position: relative;


          .close {
            width: 10px;
            line-height: 6px;
            border-radius: 50%;
            height: 10px;
            position: absolute;
            right: 5px;
            top: 3px;
            @include transition;

            &:hover {
              height: 10px;
              color: transparent;
              width: 10px;
              background-size: 8px 8px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('../../resourse/cross.png');
              background-color: red;
              @include transform(rotate(45deg));
            }
          }
        }
      }
    }
  }

  .left {
    margin-left: -310px;
    left: -100%;
    width: 310px;
    background: white;
    background-color: #FFFFFF;
    height: 100%;
    z-index: 90;

    .empty {
      position: absolute;
      left: 50%;
      margin-left: -100px;
      height: 72px;
      text-align: center;
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
      width: 200px;
      line-height: 72px;
      border: 1px dashed red;
      top: 50px;
      color: lightslategray;
    }

    .drawer {
      @include transition;
      z-index: -1;
    }

    .section_container {
      border-bottom: 1px solid #e5e5e5;
      padding-left: 10px;
      padding-right: 20px;
      background-color: #fff;

      .more {
        background-color: #fff;
        position: relative;
        right: -19px;
        margin-left: -20px;
        float: left;
        width: 20px;
        text-align: center;
        @include transform(skew(-20deg));
        border-left: 1px solid #e5e5e5;
        height: 25px;
        cursor: pointer;
      }

      .section_group {
        height: 25px;
        position: relative;
        font-size: 0%;
        overflow: hidden;
        width: 100%;
        float: left;

        .list {
          width: auto;
          white-space: nowrap;
          left: 0px;
          top: 0px;
          position: absolute;

          .tabs {
            cursor: pointer;
            @include transform(skew(-20deg));
            font-size: 10px;
            background-color: #fff;
            height: 100%;
            border-right: 1px solid #e5e5e5;
            padding: 0px 12px 0px 12px;
            width: auto;
            display: inline-block !important;
            display: inline;
            text-align: center;
            line-height: 25px;


            span {
              display: block;
              @include transform(skew(20deg));
            }
          }
        }
      }
    }

    .card::-webkit-scrollbar {
      width: 5px;
      height: 11px;
    }

    .card {
      height: 100%;
      padding-bottom: 30px;
      overflow: auto;
      z-index: 9999;
      background-color: #fff;

      .card_list {
        position: relative;
      }
    }

    .line {
      background-color: #b6be00;
      z-index: 0;
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0px;
      right: 14.52px;
      display: none
    }
  }

  .right {
    margin-left: -420px;
    width: 420px;
    right: -420px;
    background-color: #FFFFFF;
    padding-bottom: 360px;

    .right-bottom {
      height: 100%;
      padding-bottom: 31px;

      #container {
        width: 100%;
        height: 100%;
        font-size: 10px;
        overflow-x: hidden;
        background-color: #fff
      }
    }

    .right-top {
      height: 360px;
      position: relative;
      overflow: hidden;

      .col_info {
        height: 100px;
        overflow: auto;
        position: relative;
        background-color: #fff;
        box-sizing: border-box;
        overflow: hidden;

        .title {
          height: 70%;
          overflow: hidden;

          .now_column {
            font-family: 微软雅黑;
            font-weight: 500;
            font-size: 20px;
            padding-left: 10px;
            height: 40px;
            line-height: 40px;
          }
        }

        .selectBox {
          width: 100%;
          height: 30%;
          background-color: transparent;
          border-bottom: 1px solid #E0E0E0;

          input {
            height: 100%;
            line-height: 30px;
            font-size: 14px;
            background-position: right;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            font-weight: 400;
            background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1531739601092&di=0c38d8eb54e7cd73eae928391526610c&imgtype=0&src=http%3A%2F%2Fimage.tupian114.com%2F20140424%2F13472458.png.238.jpg');
            width: 100%;
            border: none;
            outline: none
          }
        }
      }

      .function_group {
        width: 100%;
        height: 70%;
        font-size: 15px;
        overflow-x: hidden;
        background-position: center;
        background-size: 25px 25px;
        background-repeat: no-repeat;

        .function_group_title {
          width: 100%;
          height: 35px;
          line-height: 35px;
          color: #2894FF;
          border-bottom: 1px solid #E0E0E0;
          padding-left: 16px;
          cursor: text;
          font-size: 15px;
        }

        .function {
          display: block;

          li {
            width: 100%;
            height: auto;
            overflow: hidden;
            line-height: 38px;
            border-bottom: 1px solid #E0E0E0;
            @include transition;
            color: #7B7B7B;
            box-sizing: content-box;

            &:hover {
              background-color: aliceblue;
            }

            &:after {
              content: "";
              clear: both;
            }

            .label {
              width: 100%;
              height: 38px;
              line-height: 38px;
              padding-left: 19px;
              color: #7B7B7B;

              &:hover {
                background-color: aliceblue;
              }
            }

            .content {
              padding-left: 19px;
              padding-top: 12px;
              padding-bottom: 10px;
              line-height: 29px;
              padding-right: 50px;
              display: none;
              border-top: 1px solid #E0E0E0;

              .parm {
                color: #4A4747;
              }

              .desc {
                color: #9D9897;
              }

              .error {
                color: #EF1D05;
              }

              .option {
                margin-left: 30px;
                float: left;
              }

              select {
                min-width: 100px;
                height: 25px;
                font-size: 12px;
              }

              button {
                margin-left: 30px;
                border-radius: 5px;
                border: 1px solid #fff;
                text-align: center;
                padding: 5px 12px 5px 12px;
                font-size: 15px;
                color: #fff;
                margin-bottom: 12px;
              }

              button.join {
                background-color: #C0E388;
              }

              button.reset {
                background-color: #797673;
              }

              input {
                min-width: 100px;
                height: 25px;
                font-size: 12px;
              }

              textarea {
                min-width: 280px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
  //通用样式
  .transparent {
    opacity: 0.3;
  }
}


.tabs {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;


  li {
    font-size: 14px;
    padding: 5px 7px 5px 7px;
    @include transition;
  }

  li.active {
    color:black;
    font-weight: 600;
    font-size: 16px;
    margin-top: -3px;
  }

  &:after {
    content: "";
    clear: both;
    overflow: hidden;
    display: block;
  }
}



ul {
  background-color: #FFFFFF;
  list-style: none;
  position: relative;

  //选项卡
  li {
    margin-top: 0px;
    float: left;
    background-color: #FCFCFC;
    color: #8E8E8E;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: aliceblue;
    }

    &:after {
      content: "";
      clear: both;
      overflow: hidden;
      display: block;
    }
  }
}

#mask {
  background-color: transparent;
  z-index: 999999999;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: no-drop;
  display: none
}




.input_tip {
  z-index: 99999;

  ul {
    background-color: #FFFFFF;
    list-style: none;
    z-index: 999;

    li {
      display: block;
      width: 100%;
      border-bottom: 1px dotted #D8D8D8;
      padding: 0px 5px 5px 3px;
      font-size: 13px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
    }

    li.select {
      background-color: #F0E68C
    }

    .tip {
      color: #FF7F50;
      margin-left: 5px;
    }

    .suc {
      color: #b6be00;
      margin-left: 5px;
    }
  }
}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom:1;
}

.guess_bar {
  margin: 0px;
  height: 10px;
  width: 0%;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  /*background-color: rgb(235,235,0);*/
  /*border-right: 1px solid #BAC3C5;*/
  box-sizing: border-box;
  @include transition;
}
