.section {
  position: absolute;
  left: 0px;
  padding: 0;
  top: 0px;
  min-height: 60px;
  width: 100%;
 border-radius:5px;
  border-bottom: 1px solid rgb(200,200,200);
  box-sizing: border-box;

  &:hover {


  }

  .title {
    padding-left: 20px;
    padding-top: 12px
  }

  .menu {
    background-image: url('../../resourse/menu.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    bottom: 18%;
    position: absolute;
    left: 21px;
  }

  .button {
    display: none;
    position: absolute;
    background-repeat: no-repeat;
  }

  .close {
    background-image: url('../../resourse/delete.png');
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
    top: 50%;
    margin-top: -8.5px;
    right: 30px;
  }

  .arrow_up {
    background-image: url('../../resourse/arrow_up.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-left: -12.5px;
    top: 15%;
    left: 50%;
  }

  .arrow_down {
    background-image: url('../../resourse/arrow_down.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-left: -12.5px;
    left: 50%;
    bottom: 15%;
  }

  .turn_on_of {
    padding: 0;
    z-index: 1;
    position: absolute;
    right: 7px;
    width: 17px;
    height: 17px;
    margin-top: -8.5px;
    background: #b6be00;
    border-radius: 50%;
  }

  .preview {
    display: none;
    background-image: url('../../resourse/preview.png');
    background-size: 50px 60px;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
    top: 0px;
    position: absolute;
    right: -9px;
  }

  .turn_on_of.off {
    background: #A19E9E;
  }

  .turn_on_of:before {
    content: " ";
    position: absolute;
    width: 13px;
    height: 13px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}
