@mixin transition($background) {
  transition: $background;
  -moz-transition: $background; /* Firefox 4 */
  -webkit-transition: $background; /* Safari 和 Chrome */
  -o-transition: $background; /* Opera */
}

.section {
  position: absolute;
  left: 0px;
  padding: 0;
  top: 0px;
  width: 100%;
  /*border-radius: 5px;*/
  border-bottom: 1px solid rgb(200,200,200);
  box-sizing: border-box;

  .drag {
    position: relative;
    min-height: 59px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 12px;
    cursor: crosshair;

  

    &:hover {
      background-color: aliceblue;
    }



    .menu {
      background-image: url('../../resourse/menu.png');
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      bottom: 12%;
      position: absolute;
      left: 21px;
    }

    .button {
      display: none;
      position: absolute;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .close {
      background-size: 17px 17px;
      width: 17px;
      height: 17px;
      top: 50%;
      margin-top: -8.5px;
      right: 30px;
    }

    .arrow_up {
      background-image: url('../../resourse/arrow_up.png');
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      margin-left: -12.5px;
      top: 12%;
      left: 50%;
    }

    .arrow_down {
      background-image: url('../../resourse/arrow_down.png');
      background-size: 25px 25px;
      width: 25px;
      height: 25px;
      margin-left: -12.5px;
      left: 50%;
      bottom: 10%;
    }

    .turn_on_of {
      padding: 0;
      z-index: 1;
      position: absolute;
      right: 7px;
      top: 50%;
      width: 17px;
      height: 17px;
      margin-top: -8.5px;
      background: #b6be00;
      border-radius: 50%;
    }

    .preview {
      display: none;
      background-image: url('../../resourse/preview.png');
      background-size: 50px 60px;
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      top: 0px;
      position: absolute;
      right: -9px;
    }

    .turn_on_of.off {
      background: #A19E9E;
    }

    .turn_on_of:before {
      content: " ";
      position: absolute;
      width: 13px;
      height: 13px;
      margin-top: 0px;
      margin-left: 0px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }

  .filter {
    padding-left: 20px;
    padding-right: 9px;


    .item {
      margin-bottom: 5px;
      padding: 5px 15px 5px 5px;
      width: auto;
      z-index: 1;
      text-align: center;
      font-size: 10px;
      line-height: 10px;
      display: inline-block !important;
      display: inline;
      vertical-align: top;
      background-color: #7FD3ED;
      color: #fff;
      border-radius: 2px;
      border-right: 1px solid #FFFFFF;
      position: relative;

      .close {
        width: 10px;
        line-height: 6px;
        border-radius: 50%;
        height: 10px;
        position: absolute;
        right: 3px;
        top: 3px;
        @include transition(transform .2s ease);

        &:hover {
          height: 10px;
          color: transparent;
          width: 10px;
          background-size: 8px 8px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../../resourse/cross.png');
          background-color: red;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg); /* IE 9 */
          -moz-transform: rotate(45deg); /* Firefox */
          -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
          -o-transform: rotate(45deg); /* Opera */
        }
      }
    }
  }
}
