.wash_container {
  @mixin transition($background) {
    transition: $background;
    -moz-transition: $background; /* Firefox 4 */
    -webkit-transition: $background; /* Safari 和 Chrome */
    -o-transition: $background; /* Opera */
  }

  .section:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
  }

  .section {
    position: absolute;
    left: 0px;
    padding: 0;
    width: 97%;
    margin-left: 1.5%;
    margin-top: 5px;
    /*border-radius: 5px;*/
    border-radius: 3px;
    border: 1px solid rgb(236,236,236);
    box-sizing: border-box;


    .drag {
      position: relative;
      min-height: 63px;
      border-radius: 5px;
      box-sizing: border-box;
      padding-left: 60px;
      padding-top: 30px;
      cursor: crosshair;



      .tip {
        padding-left: 10px;
        color: red;
      }

      &:hover {
        background-color: aliceblue;
        color: skyblue;
      }



      .menu {
        background-image: url('../../resourse/gear.jpg');
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        bottom: 5px;
        position: absolute;
        left: 21px;
      }

      .button {
        position: absolute;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .close {
        background-size: 17px 17px;
        width: 20px;
        height: 20px;
        bottom: 5px;
        position: absolute;
        left: 51px;
      }

      .arrow_up {
        background-image: url('../../resourse/arrow_up.png');
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        top: 3px;
        margin-left: -12.5px;
        right: 5px;
      }

      .arrow_down {
        background-image: url('../../resourse/arrow_down.png');
        background-size: 25px 25px;
        width: 25px;
        margin-left: -12.5px;
        height: 25px;
        bottom: 3px;
        right: 5px;
      }

      .turn_on_of {
        padding: 0;
        z-index: 1;
        position: absolute;
        right: 7px;
        top: 50%;
        width: 17px;
        height: 17px;
        margin-top: -8.5px;
        background: #b6be00;
        border-radius: 50%;
      }



      .preview {
        display: none;
        background-image: url('../../resourse/preview.png');
        background-size: 50px 60px;
        background-repeat: no-repeat;
        width: 50px;
        height: 60px;
        top: 0px;
        position: absolute;
        right: -9px;
      }

      .turn_on_of.off {
        background: #A19E9E;
      }

      .turn_on_of:before {
        content: " ";
        position: absolute;
        width: 13px;
        height: 13px;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }

    .filter {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-bottom: 10px;

      .item {
        color: #fff;
        border-radius: 3px;
        margin-top: 3px;
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 3px;
        min-width: 60px;
        text-align: center;
        height: auto;
        font-size: 10px;
        line-height: 29px;
        vertical-align: top;
        background-color: #7FD3ED;
        color: #fff;
        border-right: 1px solid rgb(239,239,239);
        position: relative;
        display: inline-block !important;
        display: inline;

        .child {
          margin-top: 3px;
          margin-left: 1px;
          padding-left: 10px;
          padding-right: 20px;
          padding-bottom: 3px;
          position: relative;
          display: block;
          margin-left: 5px;
          border-radius: 5px;
          background-color: yellowgreen;
          color: #fff
        }

        .close {
          width: 10px;
          line-height: 6px;
          border-radius: 50%;
          height: 10px;
          position: absolute;
          right: 3px;
          top: 3px;
          @include transition(transform .2s ease);

          &:hover {
            height: 10px;
            color: transparent;
            width: 10px;
            background-size: 8px 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../../resourse/cross.png');
            background-color: red;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg); /* IE 9 */
            -moz-transform: rotate(45deg); /* Firefox */
            -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
            -o-transform: rotate(45deg); /* Opera */
          }
        }
      }
    }
  }
}
.wash_op_state {
  .simular_icon {
    color: #fff;
    width: 14px;
    font-size: 5px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    margin-top: 4px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
  }

  .count {
    margin-left: 20px;
    font-size: 10px;
    line-height: 12px;
  }

  .simular_icon.error {
    background-color: tomato;
    color: #fff;
  }

  .simular_icon.warning {
    background-color: orange;
    color: #fff;
  }

  .simular_icon.info {
    background-color:darkgrey;
    color: #fff;
  }
}
