
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
 
}

:focus {
    outline: 1;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
  vertical-align: middle;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color:transparent;

}
.split{
  border-bottom:1px solid rgb(216,216,216);
}
.split_left {
  border-left: 1px solid rgb(216,216,216);
}
.split_right {
  border-right: 1px solid rgb(216,216,216);
}
.split_top {
  border-top: 1px solid rgb(216,216,216);
}
#logo{
  background-image:url('../../resourse/LOGO.png')
}
#mask #loading {
  background-color: #fff;
  border-radius: 7px;
  background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545131919203&di=527c673289d4d26a931ff868ff4817da&imgtype=0&src=http%3A%2F%2Fphotocdn.sohu.com%2F20151110%2Fmp40835393_1447145260195_15.gif');
  height: 60px;
  width: 120px;
  background-size: 60px 50px;
  background-position: 30px -10px;
  position: absolute;
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -95px;
  z-index: 99999;
}
#mask {
  z-index: 999999999;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: no-drop;
  background-color: transparent;

}
  #mask .txt_content {
    display: block;
    text-align: center;
    width: 120px;
    font-size: 12px;
    color: Highlight;
    position: absolute;
    bottom: 10px;
    z-index: 99999;
  }
@keyframes warn {
  0% {
    transform: scale(0);
    opacity: 0.25;
  }

  50% {
    transform: scale(0.75);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 0.0;
  }
}

.tabs-enter-active {
  transition: all .2s;
  opacity: 1;
}

.tabs-leave-active {
  opacity: 0;
  transition: all .2s;
}

.tabs-enter, .tabs-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
